.remove-user{
    font-size: 16px;
}
.Timer{
    margin-left: 86px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    min-height: 50px;
    border: 1px solid black;
}
.work-buttons{
    margin-top: 10px;
    margin-left: 100px;
}
.work-buttons button{
    width: 100px;
}
.border{
    border: 1px solid;
    margin-top: 2px;
    padding: 5px;
}
.container2{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}
.mosts{
    margin-top: 50px;
}
.most-title{
    margin-top: 20px;
    margin-bottom: 50px;
}
.title-page{

    margin-bottom: 50px;
}
#add-project{
    margin-top: 51px;
    padding: 4px 22px 4px 22px
}
.all-projects{
    margin-top: 30px;
}
.project-users{
    margin-top: 50px;
}
.user-name{
    padding: 10px;
    font-size: 18px;
}
.user-work-cont{
    padding: 10px;
}
.red{
    float: right;
    color: red;
    font-weight: 700;
    font-size: 17px;
}
. margin-top-50{
    margin-top: 50px;
}